C:/Users/nickn/Desktop/2nd year university work/Data 3001/Final Project/.Rproj.user/shared/notebooks/CCD43A84-Final Project Summary/1/s/cs2ti1m10ap71_t